.footer {
  background: #4A2C0A;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 25px 15px;
}
.footer-section h4 {
  margin-bottom: 10px;
  font-size: 6px;
}
.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}
.footer-icons {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.footer-icons p {
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-icons i {
    font-size: 20px;
}
