<footer class="footer-bg text-light p-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4 text-center text-md-start">
                <h4 class="footer-title">Khách sạn Ven Biển</h4>
                <div class="gap-3 mt-3">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-twitter"></i>
                </div>
                <p class="mt-3 footer-email">venbien@gmail.com</p>
            </div>

            <div class="col-md-3 mb-4 text-center text-md-start">
                <h5 class="footer-heading">Thông tin liên hệ đặt phòng</h5>
                <p class="footer-text">Hotline: 0123456789</p>
                <p class="footer-text">Email: venbien@gmail.com</p>
                <p class="footer-text">Địa chỉ: 280 An Dương Vương,<br>Phường 4, TPHCM</p>
            </div>

            <div class="col-md-3 mb-4 text-center text-md-start">
                <h5 class="footer-heading">Điều khoản và quy định</h5>
                <p class="footer-text">Điều khoản chung</p>
                <p class="footer-text">Quy định chung</p>
                <p class="footer-text">Chính sách quyền riêng tư</p>
            </div>

            <div class="col-md-3 mb-4 mb-md-0 text-center text-md-start">
                <h5 class="footer-heading">Khám phá</h5>
                <p class="footer-text">Về chúng tôi</p>
                <p class="footer-text">Hỗ trợ khách hàng</p>
                <p class="footer-text">Dịch vụ</p>
            </div>

        </div>
    </div>
</footer>

<style>
    .footer-bg {
        background-color: #5a3300;
    }

    .footer-title {
        font-style: italic;
    }
</style>