<div class="custom-header">


    <div class="top-bar py-1">
        <div class="container d-flex justify-content-between align-items-center small text-white">
            <div class="d-flex align-items-center gap-3">
                <span><i class="bi bi-telephone-fill"></i> 0123456789</span>
                <span><i class="bi bi-envelope-fill"></i> hotel@gmail.com</span>
                <span><i class="bi bi-geo-alt-fill"></i> 280 An Dương Vương, Phường 4, TPHCM</span>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light custom-nav">
        <div class="container">

            <a class="navbar-brand" href="#">Khách sạn Ven Biển</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 p-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/frontend/pages/receptionist/roomList.html">Danh sách phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quản lý đặt phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Khách hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hóa đơn – Thanh toán</a>
                    </li>

                    <li class="nav-item d-flex align-items-center ms-2">
                        <a class="nav-item" href="/frontend/pages/receptionist/profileRep.html"><i class="bi bi-person-circle fs-4"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<style>
    .top-bar {
        background-color: #59320a;
    }

    .custom-nav {
        background-color: #f6e8d6;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .navbar-brand {
        font-family: "Georgia", serif;
        font-style: italic;
        color: #502d0e;
    }

    .nav-link {
        color: #502d0e !important;
        font-size: 15px;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .bi-person-circle {
        color: #502d0e;
    }

    .navbar-toggler {
        border-color: #502d0e;
    }
</style>