<header class="header">
  <div class="header-top">
    <span>📞 0123.456.789</span>
    <span>📧 venbien@gmail.com</span>
    <span>📍 280 An Dương Vương, Phường 4, TP.HCM</span>
  </div>
  <div class="header-bottom">
    <h1 class="logo">Khách sạn Ven Biển</h1>
    <nav>
      <a href="/admin/dashboard">Dashboard</a>
      <a href="/admin/rooms">Rooms</a>
      <a href="/admin/users">Users</a>
    </nav>
    <div class="user-info">
        <span class="avatar"><i class="fa-solid fa-circle-user"></i></span>
        <span class="user-name">Tấn Huy vippro</span>
        <span class="logout-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
        <button class="logout-btn">Đăng xuất</button>
    </div>
  </div>
</header>
