<link rel="stylesheet" href="/css/footerHeaderStyle.css">
<!-- thay đổi css trong footerHeaderStyle.css -->
<footer class="footer">
  <div class="footer-section">
    <h4>Khách sạn Ven Biển</h4>
    <p>Hotline: 0123456789</p>
    <p>Email: venbien@gmail.com</p>
    <p>Địa chỉ: 280 An Dương Vương, Phường 4, TP.HCM</p>
  </div>
  <div class="footer-section">
    <h4>Điều khoản & Quy định</h4>
    <p>Điều khoản chung</p>
    <p>Chính sách bảo mật</p>
  </div>
  <div class="footer-section">
    <h4>Khám phá</h4>
    <p>Giới thiệu</p>
    <p>Dịch vụ</p>
  </div>
</footer>
