<link rel="stylesheet" href="/css/footerHeaderStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<!-- thay đổi css trong footerHeaderStyle.css -->
<footer class="footer">
  <div class="footer-section">
    <h4>Khách sạn Ven Biển</h4>
    <div class="footer-icons">
        <p><i class="fa-solid fa-phone"></i></p>

        <p>
            <i class="fa-brands fa-facebook"></i>
            <a href="https://facebook.com" target="_blank"></a>
        </p>

        <p>
            <i class="fa-brands fa-instagram"></i>
            <a href="https://instagram.com" target="_blank"></a>
        </p>

        <p>
            <i class="fa-solid fa-envelope"></i>
        </p>
    </div>
  </div>
  <div class="footer-section">
    <h4>Thông tin liên hệ đặt phòng</h4>
    <p>Hotline: 0123456789</p>
    <p>Email: venbien@gmail.com</p>
    <p>Địa chỉ: 280 An Dương Vương, Phường 4, TP.HCM</p>
  </div>
  <div class="footer-section">
    <h4>Điều khoản & Quy định</h4>
    <p>Điều khoản chung</p>
    <p>Chính sách bảo mật</p>
  </div>
  <div class="footer-section">
    <h4>Khám phá</h4>
    <p>Về chúng tôi</p>
    <p>Hỗ trợ khách hàng</p>
    <p>Dịch vụ</p>
  </div>
</footer>

