



<footer>
        <div class="footer-content">
            <div class="footer-section">
                <h4>Khách sạn Ven Biển</h4>
                <div class="social-icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-twitter"></i>

                </div>
                <p style="margin-top: 15px;">venBien@gmail.com</p>
            </div>
            <div class="footer-section">
                <h4>Thông tin liên hệ đặt phòng</h4>
                <p>Hotline: 0123456789</p>
                <p>Email: venBien@gmail.com</p>
                <p>Địa chỉ: 280 An Dương Vương, Phường 4, TPHCM</p>
            </div>
            <div class="footer-section">
                <h4>Điều khoản và quy định</h4>
                <a href="#">Điều khoản chung</a>
                <a href="#">Quy định chung</a>
                <a href="#">Chính sách quyền riêng tư</a>
            </div>
            <div class="footer-section">
                <h4>Khám phá</h4>
                <a href="#">Về chúng tôi</a>
                <a href="#">Hỏi đáp khách hàng</a>
                <a href="#">Dịch vụ</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Khách sạn Ven Biển. All rights reserved.</p>
        </div>
    </footer>
