<div class="header">
       <!-- Top Bar -->
    <div class="top-bar">
        <div class="top-bar-item">
            <span>📞</span>
            <span>0123456789</span>
        </div>
        <div class="top-bar-item">
            <span>✉️</span>
            <span>hotel@gmail.com</span>
        </div>
        <div class="top-bar-item">
            <span>📍</span>
            <span>280 An Dương Vương, Phường 4, TPHCM</span>
        </div>
    </div>

    <!-- Navigation -->
    <nav>
        <div class="logo">Khách sạn Ven Biển</div>
        <ul class="nav-menu">
            <li><a href="/user/home">Trang chủ</a></li>
            <li><a href="/user/rooms">Phòng</a></li>
            <li><a href="/user/services">Dịch vụ</a></li>
            <li><a href="#booking">Lịch sử đặt phòng</a></li>
            <li><a href="/user/contact">Liên hệ</a></li>
        </ul>
        <div class="user-icon">👤</div>
    </nav>

</div>