<div class="header">
       <!-- Top Bar -->
    <div class="top-bar">
        <div class="top-bar-item">
            <span>📞</span>
            <span>0123456789</span>
        </div>
        <div class="top-bar-item">
            <span>✉️</span>
            <span>hotel@gmail.com</span>
        </div>
        <div class="top-bar-item">
            <span>📍</span>
            <span>280 An Dương Vương, Phường 4, TPHCM</span>
        </div>
    </div>

    <!-- Navigation -->
    <nav>
        <div class="logo">Khách sạn Ven Biển</div>
        <ul class="nav-menu">
            <li><a href="/user/home">Trang chủ</a></li>
            <li><a href="/user/rooms">Phòng</a></li>
            <li><a href="/user/services">Dịch vụ</a></li>
            <li><a href="#booking">Lịch sử đặt phòng</a></li>
            <li><a href="/user/contact">Liên hệ</a></li>
        </ul>
       <div class="user-menu">

  <!-- Button đăng nhập -->
  <a href="/signin" id="loginBtn" class="login-btn hidden">
    Đăng nhập
  </a>

  <!-- User icon -->
  <div id="userWrapper" class="hidden">
    <div class="user-icon" id="userIcon">👤</div>
      <div class="user-dropdown hidden" id="userDropdown">
        <div class="user-info">
          <div class="avatar" id="userAvatar">👤</div>
          <div class="user-text">
          <span class="greeting">Xin chào</span>
          <span class="username" id="userName">User</span>
        </div>
      </div>
      <button id="logoutBtn">Đăng xuất</button>
      </div>
  </div>

</div>

</div>
    </nav>



</div>
<script src="/user/js/signout.js" defer></script>
