body {
  background-color: #f6e8d6;
  font-family: "Segoe UI", sans-serif;
}

/* CSS top-container */
.search-wrapper {
  background-color: #5b3102;
  border-radius: 12px;
}

.search-box {
  background-color: #f2efec;
  border-radius: 12px;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

.search-box i {
  color: #000000;
}

/* CSS Room Filter  */
.room-filter {
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.filter-item {
  cursor: pointer;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.2s;
}

.filter-item:hover {
  background: #f1f1f1;
}

.filter-item.active {
  background: #2d7dd2;
  color: white;
  font-weight: 600;
}

/* CSS Room Card */
.room-card {
  color: #4b2f16;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.divider {
  height: 1px;
  background-color: #4b2f16;
  opacity: 0.5;
}

.room-img-fixed {
  height: 180px;
  object-fit: cover;
}

.room-body-fixed {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.room-body-fixed p {
  flex-shrink: 0;
}

.room-btn {
  margin-top: auto;
}
